.gradle/
**/.gradle/
build/
out/
target/
**/build/
**/out/

*.class
**/*.groovy.class

*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

test-results/
tests-results/
reports/

spock-reports/
allure-results/
allure-report/

generated/
generated-sources/
generated-test-sources/

tmp/
temp/
*.tmp
*.log

local.properties
